// COLORS

$white : #fff;
$black : #000;
$gray  : #222;
$cian  : #27d3d2;
$cian_light : #77e0e0;
$light_gray : #e9e6e2;
$light_gray2 : #AAA;
$brown  : #736759;
$light_brown2 : #958d82;
$arange : #a69580;
$cofee : #bdaf9c;
$light_brown : #3e3a3b;
$blue : #03a9f4;
$green : #568a89;
$red : #e87266;
$red_hover : #ef4735;
$yellow : #cccf85;

$outline_white : #fff;  


// FONTS
$font_base : 'Roboto', sans-serif;
$font_size : 16px;
$font_second : 'Fira Sans', sans-serif;
$icon : "Flaticon";


// HEADER
$header_bg : #544d43;