{
"selector": "textarea",
"height": 500,
"theme": "modern",
"plugins": [
"advlist,autolink,autosave,link,image,lists,charmap,print,preview,hr,anchor,pagebreak",
"searchreplace,wordcount,visualblocks,visualchars,code,fullscreen,insertdatetime,media,nonbreaking",
"table,contextmenu,directionality,emoticons,template,textcolor,paste,fullpage,textcolor,colorpicker,textpattern, sncontent, sncontentpicker"
],
"toolbar1": "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect | table | bullist numlist | outdent indent blockquote",
"toolbar2": "undo redo | link unlink anchor code | hr removeformat | subscript superscript | charmap emoticons",
"image_advtab": true,
"menubar": false,
"toolbar_items_size": "small",
"paste_as_text": true,
"content_css": "/Root/Global/styles/RichText.css"
}